/* 
.shadow {
    -webkit-filter: drop-shadow( 4px 4px 5px rgba(255, 255, 255, 0.644));
    filter: drop-shadow( 4px 4px 5px rgba(255, 255, 255, 0.712));
}

#blob {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px;
    z-index: -1;
    position: absolute;
}

form {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px;
    z-index: 400;
    position: relative;
    left: 0;
    top: 0;
}

#blob-1 {
    position: relative;
}
 */

#form {
    position: relative; 
    width: 200px;
    z-index: 10;
    left:45%;
    top:230px;
    font-family: Arial, Helvetica, sans-serif;
}

input{

    padding:10px;
    background-color: transparent;
    color:blue;
    border-radius: 20px;
    border-style: solid 1;
}

svg {
    position: absolute;
    left: 35%;
    top: 10%;
    /* z-index: 1; */ 
}